@model EmployeeEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>View</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="empName" class="control-label"></label>
                <input asp-for="empName" class="form-control" />
                <span asp-validation-for="empName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empAge" class="control-label"></label>
                <input asp-for="empAge" class="form-control" />
                <span asp-validation-for="empAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empNumber" class="control-label"></label>
                <input asp-for="empNumber" class="form-control" />
                <span asp-validation-for="empNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empDepartment" class="control-label"></label>
                <input asp-for="empDepartment" class="form-control" />
                <span asp-validation-for="empDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

